/* Main Styles
/*********************************/

html {
    width: 100%;
    outline: none;
    scroll-behavior: smooth;
}

body.body-page {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    font-family: var(--quatrocen);
    background-color: transparent;
}


/**************************************************************************************************/


/* My Styles
/*********************************/

:root {
    --mightygray: #556270;
    --pacifica: #4ecdc4;
    --applechic: #c7f464;
    --cheerypink: #ff6b6b;
    --grandmapink: #c44d58;
    --cyan: #8be9fd;
    --green: #50fa7b;
    --orange: #ffb86c;
    --pink: #ff79c6;
    --purple: #bd93f9;
    --red: #ff5555;
    --yelow: #f1fa8c;
    --darkpurple: #9c27b0;
    --background: #282a36;
    --schoolbell: "Schoolbell", cursive;
    --quatrocen: "Quattrocento Sans", sans-serif;
    --handlee: 'Handlee', cursive;
}

a {
    text-decoration: none;
    color: var(--darkpurple);
    font-weight: bold;
}

a:hover {
    color: var(--grandmapink);
}

.columns {
    margin: 0;
    padding: 0;
}

.columns:last-child {
    margin: 0;
}

.fullheight {
    height: 100vh;
}

.freepick {
    color: #ffffff;
    text-decoration: none;
    font-weight: lighter;
    font-size: small;
}


/**************************************************************************************************/


/* Select Language
/*********************************/

.lang-div {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem 1rem 0 0;
    position: fixed;
    z-index: 99;
}

#lang-opt {
    border: none;
    background-color: #ccc;
    padding: 0.4rem;
    margin-right: 0, 5rem;
    color: #4a4a4a;
    border-radius: 4px;
}

#lang-opt:focus {
    outline: none;
}


/**************************************************************************************************/


/* Main Hero
/*********************************/

.hero-princ {
    background-size: cover;
    background-image: url("https://www.muycomputer.com/wp-content/uploads/2019/05/HubbleLegacyField.jpg");
    background-color: var(--mightygray);
    color: #ffffff;
}

.hero-princ-container .gif-animated {
    border-radius: 50%;
}

.hero-princ-content.text {
    margin-top: 2rem;
}

.hero-princ-content.text .subtitle {
    text-align: center;
}


/* .hero-princ-content.text .title::after {
    content: "(Miauchis)";
    font-size: 25px;
    font-family: var(--schoolbell);
} */


/* Social Media Main Hero
/*********************************/

.hero-princ .social-media {
    margin-top: 0.7rem;
}

.hero-princ .social-media a {
    font-size: 25px;
    color: var(--pink);
}

.hero-princ-container .social-media .li-smedia {
    margin-right: 1rem;
}


/* Footer Menu Main Hero
/*********************************/

.hero-princ-footer {
    margin-bottom: 1rem;
}

.hero-princ-footer .menu a {
    color: inherit;
}

.menu li {
    margin: 0.2rem;
    font-weight: bold;
}


/**************************************************************************************************/


/* About
/*********************************/

.about-columns {
    display: flex;
    flex-direction: row;
    font-family: var(--handlee);
}

.about-columns .col-1 {
    background-image: url("../src/images/background/espacio_vectores.png"), linear-gradient( 141deg, var(--background) 10%, var(--purple) 55%, var(--cyan) 100%);
    background-size: contain;
    position: sticky;
    top: 0;
    bottom: 0;
    height: 100vh;
    font-family: var(--quatrocen);
    flex-basis: 200px;
    flex-grow: 1;
    flex-shrink: 0;
}

.about-columns .col-1 ul {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 0 1rem 1rem;
}

.about-columns .col-2 {
    flex-basis: 300px;
    flex-grow: 2;
    flex-shrink: 0;
    background-color: #ffffff;
}

.about-columns .about-content {
    padding: 2rem 7% 2rem 2rem;
}

#playing {
    float: left;
    width: 19%;
    margin-right: 20px;
    margin-top: -20px;
}

#learning {
    float: right;
    width: 30%;
    margin-left: 20px
}

#home {
    margin-right: 20px;
    float: left;
    width: 30%;
}


/* .about-img {
    width: 200px;
    height: 200px;
    display: flex;
    margin: auto;
} */


/**************************************************************************************************/


/* Skills
/*********************************/

.hero.skills {
    background-color: #f8f8f8;
}

.hero .title {
    color: var(--mightygray);
}

.container.skills .container {
    width: 70%;
    margin-bottom: 1rem;
}

.columns.skills {
    flex-direction: column;
}

.column.skill {
    margin: 0.5rem 0;
}

.column.skill .img {
    width: 55px;
}

.skills-more-btn {
    border-style: solid;
    background-color: transparent;
    color: #4a4a4a;
}


/* SKills ProgressBar
/*********************************/

.bar {
    width: 100%;
    height: 20px;
    background-color: #ccc;
}

.in-progress {
    color: white;
    font-size: 14px;
    font-weight: bold;
}


/* Skills Images
/*********************************/

.column.skill .img {
    margin-right: 1.5rem;
    text-align: center;
}

.column.skill .img::after {
    content: attr(data-desc);
    color: var(--mightygray);
    font-size: 12px;
    display: block;
    margin-top: -6px;
    font-weight: bold;
}


/*  Education
/**********************************************/

.container-subclass {
    align-content: center;
}

.container-subclass h3 {
    font-size: 2rem;
    font-weight: bold;
    margin: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: 130px 1fr 130px 1fr;
    grid-template-rows: auto;
    grid-gap: 30px;
    align-items: center;
    margin: 50px;
}

.grid-item img {
    padding-left: 50px;
}

#studieitem h4 {
    margin-left: 60px;
    font-size: 1.25rem;
    font-weight: bold;
}

#studieitem p {
    margin-left: 60px;
    font-size: 1.082rem;
}


/* Projects
/*********************************/

.hero.projects {
    background-color: #ffffff;
}

.container.projects-wrapper {
    width: 100%;
    margin-bottom: 2rem;
}

.container.projects,
.container.more-projects {
    display: grid;
    grid-template-columns: 320px 320px 320px;
}

.column.project {
    position: relative;
}

.column.project .img-container {
    height: 85%;
}

.column.project .img-container::after {
    content: url(../src/icons/cursor-pointer-hand.png);
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.column.project .img-container .project {
    cursor: pointer;
    border-radius: 4px;
    filter: brightness(0.3);
    width: 100%;
    height: 100%;
}

.column.project .img-container .project:hover {
    filter: brightness(0.5);
}

.column.project .project-name {
    margin-top: 0.3rem;
    font-weight: 700;
    color: var(--cheerypink);
}


/* More projects 
/*********************************/

.projects-more-btn {
    display: none;
}


/* projects Pop Up
/*********************************/

#project-popup.project.popup {
    /*   transition: opacity 500ms; */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    /* opacity: 1; */
    z-index: 100;
    overflow: scroll;
}

.project.popup .hero-body {
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    margin: 2rem;
    border: 2px solid var(--purple);
    transition: all 0.5s ease-in-out;
}

.close.project {
    background-color: #ffffff;
    border-radius: 50%;
    padding: 0.2rem 1rem;
    color: var(--purple);
    font-size: 25px;
    position: absolute;
    top: 0;
    transform: translate(-50%);
    left: 50%;
    margin-top: 13px;
    border: 1px solid var(--purple);
    text-decoration: none;
    transition: all 0.2s;
}

.close.project:hover {
    border: 1px solid var(--purple);
    background-color: var(--purple);
    color: #ffffff;
}

.project-desc .characteristics .container:first-child {
    margin-bottom: 2rem;
}

.project-desc .characteristics .lis {
    margin-left: 2rem;
}

.project-desc .characteristics .lis li {
    list-style: circle;
}

.project.popup .hero-body .img-project {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1), 0 4px 18px 0 rgba(0, 0, 0, 0.19);
}

.project.popup .hero-body .img-project:hover {
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.column.project-desc h4 {
    color: var(--cheerypink);
    margin-bottom: 0.9rem;
}

.column.project-desc h5 {
    color: var(--mightygray);
    margin-bottom: 0.3rem;
}


/**************************************************************************************************/


/* Contact
/*********************************/

.hero-contact {
    background-image: linear-gradient( 141deg, var(--purple) 30%, var(--cheerypink) 70%);
    color: #ffffff;
}

.hero-contact-content {
    margin-bottom: 1rem;
}

.hero-contact-content .title {
    margin-bottom: 2.5rem;
}

.hero-contact-content .subtitle {
    margin-bottom: 1rem;
}

.hero-contact-container .social-media .li-smedia {
    margin-right: 2rem;
}

.hero-contact-container .social-media a {
    font-size: 50px;
    color: var(--mightygray);
}

.contact-footer p {
    text-align: center;
}

.contact-footer a {
    text-align: center;
}


/**************************************************************************************************/


/* Repeated Components and Helpers
/*********************************/

.social-media a {
    display: inline-block;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.social-media a:hover {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    text-decoration: none;
}

.stick {
    position: sticky;
    bottom: 0;
    top: 0;
    z-index: -1;
}

.is-flex.center-y {
    align-items: center;
}

.is-flex.center-x {
    justify-content: center;
}

.f-d-col {
    flex-direction: column;
}

.f-wrap {
    flex-wrap: wrap;
}

.no-deco:hover {
    text-decoration: none;
}

.read-more {
    color: var(--grandmapink);
    cursor: pointer;
}

.read-more-section {
    display: none;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.hide-t {
    display: block;
}

.show-t {
    display: none;
}


/**************************************************************************************************/

@media (max-width: 992px) {
    /* About 
  /*********************************/
    .container.skills .container {
        width: 80%;
    }
    .about-columns {
        display: block;
    }
    .about-columns .col-1 {
        position: relative;
        height: auto;
        padding: 6rem 0;
    }
    .col-1,
    .col-2 {
        width: 100%;
    }
    /* Projects 
  /*********************************/
    .container.projects,
    .container.more-projects {
        grid-template-columns: auto auto;
    }
    /* Helpers 
  /*********************************/
    .hide-t {
        display: none;
    }
    .show-t {
        display: block;
    }
}

@media (max-width: 601px) {
    /* Set titles 
  /*********************************/
    .title.is-1 {
        font-size: 2rem;
    }
    .title.is-3 {
        font-size: 1.5rem;
        margin-top: 25px;
    }
    .subtitle.is-4 {
        font-size: 1.4rem;
    }
    /* About
  /*********************************/
    .container.skills .container {
        width: 100%;
    }
    .about-columns .about-content {
        padding: 2rem 1rem;
    }
    /* Skills
  /*********************************/
    .column.skill .img img {
        max-width: 50px;
    }
    /* Projects 
  /*********************************/
    .container.projects,
    .container.more-projects {
        grid-template-columns: auto;
    }
    .container.more-projects {
        display: none;
    }
    .projects-more-btn {
        margin-top: 1.5rem;
        background-color: #f8f8f8;
        border: none;
        display: block;
    }
    .project.popup .hero-body {
        margin: 2rem 1rem;
    }
    .project-desc .characteristics .container:first-child {
        margin-bottom: 1rem;
    }
    /* Contact 
  /*********************************/
    .hero-contact-container .social-media .li-smedia {
        margin-right: 1rem;
    }
    .hero-contact-container .social-media a {
        font-size: 30px;
    }
    /* Helpers
  /*********************************/
    .hide-t {
        display: block;
    }
    .show-t {
        display: none;
    }
    /* Education 
  /*********************************/
    .container-subclass {
        margin-left: 0px;
        align-content: center;
    }
    .container-subclass h3 {
        font-size: 1.5rem;
        font-weight: bold;
        margin: 30px;
    }
    .grid-container {
        display: grid;
        grid-template-columns: 100px 1fr;
        grid-template-rows: auto;
        grid-gap: 30px;
        align-items: center;
        justify-content: end;
    }
    .grid-item img {
        padding-left: 30px;
    }
    #studieitem h4 {
        margin-left: 0px;
        font-size: 1.25rem;
        margin-bottom: 0px;
        font-weight: bold;
    }
    #studieitem p {
        margin-left: 0px;
        font-size: 1.082rem;
    }
}